<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Descargar musica</title>
  </head>
  <body>
    <div class="container">
    <h1 class="titulo">DESCARGAR VIDEO/MUSICA DE YOUTUBE</h1>
    <form method="post">
      <label for="url">LINK DE YOUTUBE</label>
      <input type="text" id="url" name="url" required><br><br>
      <label for="path">OPCIONAL:</label>
      <input type="text" id="path" name="path"><br><br>
      <button type="submit">DESCARGAR</button>
    </form>
    </div>

  </body>
</html>
